@model TP_Bibliotheque.Models.ViewModel.ShowMemberModelView

@{
    ViewBag.Title = "Details";
}

<h2>Détails sur le Membre @Model.getMember().Firstname @Model.getMember().Name</h2>

TODO : Lister les réservations de cet utilisateur.