@model TP_Bibliotheque.Models.ViewModel.ShowMemberModelView

@{
    ViewBag.Title = "Details";
}

<h2>Détails sur le Membre @Model.getMember().Firstname @Model.getMember().Name</h2>

<p>
    Email : @Model.getMember().Email
</p>

<p>
    Date de naissance : @Model.getMember().BirthDate
</p>

TODO : Lister les réservations de cet utilisateur.