@{
    ViewBag.Title = "A propos";
}
<h2>@ViewBag.Title</h2>

<h3>Authors</h3>
<p>
    <ul>
        <li><a href="mailto:tiphaine.girardot@etu.u-bordeaux.fr">GIRARDOT Tiphaine</a></li>
        <li><a href="mailto:sylvain.metayer@etu.u-bordeaux.fr">METAYER Sylain</a></li>
    </ul>
</p>

<h3>Informations</h3>

<ul>
    <li><a href="https://github.com/sylvainmetayer/TP_Bibliotheque/">Dépôt Github</a></li>
</ul>