@model TP_Bibliotheque.Models.AuthorModelView

@{
    ViewBag.Title = "Bienvenue ! ";
}

Liste des auteurs
<ul>
    @foreach (var auteur in @Model.GetAuthors())
    {
        <li>
            @auteur.Id , @auteur.Name , @auteur.Firstname
        </li>
    }
</ul>