@model TP_Bibliotheque.Models.AuthorModelView

@{
    ViewBag.Title = "Bienvenue ! ";
}


<h2>Welcome to our library !</h2>

TODO 
<ul>
    <li>Add the following link to this page</li>
    <ul>
        <li>
            Numbers of Members, Author, Book, BorrowingBooks
        </li>
        <li>
            List Author / Book / ...
        </li>
    </ul>
</ul>


Liste des auteurs
<ul>
    @foreach (var auteur in @Model.GetAuthors())
    {
        <li>
            @auteur.Id , @auteur.Name , @auteur.Firstname
        </li>
    }
</ul>